@charset "UTF-8";

body {
    background-color: rgba(191, 78, 239, 0.425);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: brown;
}

h2 {
    color: darkblue;
}

#principal {
    text-align: center;
    background-color: black;
    color: antiquewhite ;
}

.basico {
    color: darkgoldenrod;
    text-align: right;
}

.intermediario {
    color: rgb(181, 68, 8);
    font-weight: bold;
    text-align: left;
}

.avancado {
    color: lightcoral;
}